{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">advertising</h4>
        <p>please email the privfiles team at privfiles@protonmail.com, payment method to be discussed (ideally monero)</p>
        <h5>prices</h5>
        <p style="margin-bottom: 0px;"><strong>Cross site banners:</strong>&nbsp;35 USD per month</p>
        <p><strong>Share page banners: </strong>20 USD per month</p>
        <div class="email-prev">
            <h6>email: privfiles@protonmail.com</h6>
            <h6>subject: advertising - &lt;Service name here&gt;</h6>
            <h6>message:</h6>
            <p style="margin-bottom: 0px;">please include a description of your service, a advertising banner (400 x 100) &amp; your onion link.</p>
        </div>
    </div>
</div>
{% endblock %}