{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">reporting uploads</h4>
        <p>please email the privfiles team at privfiles@protonmail.com, currently only child abuse content will be removed.</p>
        <div class="email-prev">
            <h6>email: privfiles@protonmail.com</h6>
            <h6>subject: content report</h6>
            <h6>message:</h6>
            <p style="margin-bottom: 0px;">you must include the privfiles share link &amp; the download password.</p>
        </div>
    </div>
</div>
{% endblock %}