{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        {% if password %}
            <div class="share-owner">
                <h3>Your password (DO NOT LEAVE)</h3>
                <h5>The URL in the address bar now includes your password, copy the options below instead.</h5>
                <form>
                    <label>password</label>
                    <input class="form-control" type="text" disabled="" value="{{ password }}">
                    <label style="margin-top: 15px;">share link</label>
                    <input class="form-control" type="text" disabled="" value="l3n6v6dm63frml22tlmzacnasvp7co7wylu4hhcs34ukxe7q56yb4tyd.onion/share/{{ request.path_params['file_id'] }}">
                    <label style="margin-top: 15px;">Quick share (Includes password)</label>
                    <p style="font-size: .7em;font-style: italic;margin-bottom: 0px;">Anyone with this link can download the file & view its contents</p>
                    <input class="form-control" type="text" disabled="" value="l3n6v6dm63frml22tlmzacnasvp7co7wylu4hhcs34ukxe7q56yb4tyd.onion/share/{{ request.path_params['file_id'] }}/{{ password }}">
                </form>
            </div>
        {% endif %}
        <div class="d-xl-flex justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center">
            <form action="/download/{{ request.path_params['file_id'] }}" method="post">
                {% include 'errors.html' %}
                {% if 'share_password' not in request.path_params %}
                    <input required class="form-control" type="password" id="password" name="password" placeholder="{% if local_dencrypt %}server-side password{% else %}password{% endif %}">
                {% else %}
                    <input class="form-control" type="hidden" value="{{ request.path_params['share_password'] }}" id="password" name="password">
                {% endif %}
                {% if 'premium_key' not in request.session %}
                    <div style="margin-top: 20px;"></div>
                    {% include 'captcha.html' %}
                {% endif %}
                <button class="btn btn-primary" type="submit" style="margin-top: 20px;width: 100%;">download file</button>
            </form>
        </div>
        {% if local_dencrypt %}
            <h4>local dencrypt required</h4>
            <p>This file has been uploaded with our zero trust tool, this means after downloading the file with the server-side password you must dencrypt locally with our 'download' client.</p>
            <p>please review the 'download' client before running it, requires python 3.x - <a href="/static/client-download" target="_blank">'download' client</a></p>
        {% endif %}

        <h4>comment</h4>
        {% if comment %}
            <p>everything in the box below was a comment left by the uploader, beware of scams...</p>
            <div class="comment">
                <p>{{ comment }}</p>
            </div>
        {% else %}
            <p>no comment left by uploader</p>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        {{ downloads }} total downloads
    </div>
</div>
<div class="card" style="margin-top: 25px;">
    <div class="card-body">
        <h5 class="card-title">advertisements</h5>
        <ul class="list-inline share-ads">
        </ul>
    </div>
</div>
{% endblock %}
