{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">don't trust us?</h4>
        <p>privfiles provides a zero trust client for uploading & downloading files off our website. This tool encrypts data locally before sending it off to
            privfiles so we have zero possible way of intercepting the encryption key.
        </p>
        <h5>whats the downside?</h5>
        <p>you need to run a spooky python script, if you don't understand / review the code you're better off using the upload page on this site. Because the code
            could be malicious.
        </p>
        <h5>why is this better then other local encryption tools?</h5>
        <p>it directly integrates into privfiles & on our download page it will prompt uses to use the download tool. You can see exactly how the code works, without having to review a massive repo</p>

        <h5>downloads</h5>
        <a href="/static/client-upload" target="_blank">upload client</a>
        <a href="/static/client-download" target="_blank">download client</a>
        <p style="margin-bottom: 0px; font-style: italic; font-size: .8em;">make sure to validate these with our public key!</p>
    </div>
</div>
{% endblock %}
